@use "../utilities/variables" as *;

// ============================================================================
// 登入頁面 | Login Page
// ============================================================================

.login-page {
  margin-left: 0;
  background: linear-gradient(
    to bottom right,
    var(--color-main) 0%,
    var(--color-secondary) 56%,
    var(--color-accent) 100%
  );
}

// 登入錯誤 | Login Error
.login-error {
  background: #f6dfda;
  color: #9b3529;
  padding: 10px;
  border-radius: $radius-lg;
  font-size: 12px;
}
